<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298035312481-htmrl0vupllborjeo89v52f6tt3l0htb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298035312481-htmrl0vupllborjeo89v52f6tt3l0htb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>298035312481-khgoiss184fqfqah232sb4tdj3a5rfk2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD1iCjUUjV_N9QQFlVyWAkghcvFGhRc1HQ</string>
	<key>GCM_SENDER_ID</key>
	<string>298035312481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitterclone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-b21f3</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-b21f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298035312481:ios:4ef01038c7d98ae3acb720</string>
	<key>DATABASE_URL</key>
	<string>https://twitterclone-b21f3.firebaseio.com</string>
</dict>
</plist>